/* -- DEFAULT STYLE SETTINGS -- */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(153,217,234);


}

h1 {
    font-family: HelveticaNeue;
    font-size: 22px;
    font-weight: bold;
    color: rgb(0,0,0);
    text-align: center;
}
nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    margin: 20px;
}
a {
    text-decoration: none;
    color: black;
    font-family: HelveticaNeue;
    font-size: 18px;
    font-weight: bold;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}


@import "home_stylesheet.css";